async-timeout==5.0.0
bidict==0.23.1
blinker==1.8.2
cachelib==0.9.0
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
dnspython==2.7.0
eventlet==0.37.0
Flask==3.0.3
Flask-Caching==2.3.0
Flask-Cors==5.0.0
Flask-SocketIO==5.4.1
greenlet==3.1.1
gunicorn==23.0.0
h11==0.14.0
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==3.0.2
packaging==24.1
python-engineio==4.10.1
python-socketio==5.11.4
redis==5.2.0
requests==2.32.3
simple-websocket==1.1.0
urllib3==2.2.3
Werkzeug==3.1.1
wsproto==1.2.0